@media only screen and (max-width: 1200px) {
    .mobile-nav-icon {
        display: none;
    }

    .main-navigation {    
        display: inline-block;
    }

    .hero-text-box {
        padding-left: 70px;
        font-size: 80%;
    }
}

/*tablets em modo retrato*/
@media only screen and (max-width: 1023px) {
    .main-navigation {        
        display: none;

    }

    .mobile-nav-icon {
        display: inline-block;
    }

    .hero-text-box {
        margin-left: 160px;
        margin-right: 60px;
        font-size: 70%;
    }

    .about__portrait--header {
        font-size: 80%;
        margin-left:20px;
    }

    .about__portrait img {
        width: 60%;
        height: 60%;
        margin-left: 40px;
        margin-right: auto;
    }

    .about__contents {
        font-size: 80%;
    }

    .section__experience {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section__experience--company {
        font-size: 80%;
    }

    .section__experience--keyrus-tl {
        padding-bottom: 65px;
    }

    .section__experience--maps {
        padding-bottom: 35px;
    }

    .section__skills {
        font-size: 80%;
        padding-left: 20px;
    }

    .section__contact {
        font-size: 80%;
    }

    footer {
        font-size: 70%;
    }
}

/*small phones to small tablets*/
@media only screen and (max-width: 767px) {

    .sticky .main-navigation li {
        color: #555555;
        margin-left: 5px;
        
    }

    .main-navigation li {
        margin-left: 5px;
        display: block;
    }

    .main-navigation li a:link, .main-navigation li a:visited {
        display: block;
        border:0;
        padding: 10px 0;
        font-size: 100%;
    }

    .mobile-nav-icon {
        display: inline-block;
        margin-top: 15px;
    }

    .main-navigation {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
        display: none;

    }

    .sticky .mobile-nav-icon i {
        color: #555555;
    }

    .hero-text-box {
        margin-left: 400px;
        margin-right: 60px;
        font-size: 25%;
    }

    .col {
        width: 100%;
    }   

    .about__portrait--header {
        font-size: 100%;
        text-align: center;
    }

    .about__portrait {
        text-align: center;
    }

    .about__portrait img {
        width: 40%;
        height: 40%;
        margin-right: 40px;
    }

    .about__contents {
        margin-left: 10px;
    }

    .section__experience {
        padding-bottom: 0px;
        font-weight: bold;
        font-size: 110%;
    }

    .section__experience--company {
        padding-bottom: 0px;
        margin-bottom: 10px;
        
    }

    .section__experience--keyrus-tl {
        padding-bottom: 20px;
    }

    .section__experience--keyrus {
        padding-bottom: 20px;
    }

    .section__experience--rdi {
        padding-bottom: 20px;
    }

    .section__experience--maps {
        padding-bottom: 20px;
    }

    .section__experience--unesp {
        padding-bottom: 20px;
    }

    section {
        font-size: 60%;
        font-weight: 300;
    }
    
}

/*iphone 4 e 5*/
@media only screen and (max-width: 480px) {
    
}